@import "button.css";
@import "form.css";

.content-wrapper {
    @apply min-w-0 break-words bg-white rounded px-5 py-2 shadow-lg;
}

.divide {
    @apply border-b border-gray-400 my-5;
}

.not-allow {
    @apply cursor-not-allowed !important;
}

.badge {
    @apply text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-purple-700 bg-purple-200 uppercase last:mr-0 mr-1;
}

/** project **/
.project-item {
    @apply bg-white rounded shadow-lg transition transform hover:scale-105 max-h-80 overflow-hidden;
    min-height: 20rem;
}

.readmore-overlay {
    @apply absolute w-full bottom-0 py-3 text-center text-blue-400 cursor-pointer hover:border-t border-blue-200;
    background: linear-gradient(to bottom,rgba(241,243,251,0) 0%,#f1f3fb 60%);
}

/** tree option **/

.tree-option-wrapper .tree-result {
    @apply rounded border-gray-400 border p-2 flex flex-wrap gap-1;
}

.tree-option-wrapper .tree-result .tree-result-item {
    @apply badge;
    font-size: 1rem;
}

.tree-option-wrapper .tree-toggle-content {
    @apply absolute top-1 left-0 w-full bg-gray-50 rounded shadow-lg border border-gray-300 p-1;
}

.tree-option-wrapper .tree-option {
    @apply mb-1 rounded;
}

.tree-option-wrapper .tree-option .tree-label {
    @apply hover:bg-gray-200 transition-all duration-100 block p-2 flex items-center;
}

.tree-option-wrapper .tree-option label {
    @apply flex-1;
}

.tree-option-wrapper .tree-option:last-child {
    @apply mb-0;
}

/** testcase list */
.detail-scenario-wrapper {
    @apply grid grid-cols-5 gap-5;
}

.detail-scenario-wrapper .testcase-list {
    @apply col-start-1 col-end-4;
}

.testcase-item {
    @apply p-3 border border-gray-300 mb-1;
}

.detail-scenario-wrapper .scenario-box {
    @apply col-start-4 col-end-6;
}
